.container {
  margin-top: 20px;
}

.table th,
.table td {
  vertical-align: middle;
}

thead.thead-dark th {
  background-color: #343a40;
  color: white;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
