<!--<div class="container mt-4">-->
<!--  <div class="row">-->
<!--    &lt;!&ndash; Sample Detail List Column &ndash;&gt;-->
<!--    <div class="col-md-8">-->
<!--      <h2 class="text-primary">Sample Detail List</h2>-->
<!--      <div *ngIf="sampleDetailList.length > 0; else noData">-->
<!--        <div class="table-responsive">-->
<!--          <table class="table table-hover table-striped table-bordered shadow-sm rounded">-->
<!--            <thead class="thead-dark">-->
<!--            <tr>-->
<!--              <th scope="col">Series Number</th>-->
<!--              <th scope="col">Topic Number</th>-->
<!--              <th scope="col">Unique Sample Number</th>-->
<!--              <th scope="col">Inside Sampling Location</th>-->
<!--              <th scope="col">Contaminant ID</th>-->
<!--              <th scope="col">Worker Examined</th>-->
<!--              <th scope="col">Temperature</th>-->
<!--              <th scope="col">Humidity</th>-->
<!--              <th scope="col">Pressure</th>-->
<!--              <th scope="col">Sample Volume Flow Rate</th>-->
<!--              <th scope="col">Adjustment Method ID</th>-->
<!--              <th scope="col">Start Time</th>-->
<!--              <th scope="col">End Time</th>-->
<!--              <th scope="col">Sampling Type ID</th>-->
<!--              <th scope="col">Actions</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let sampleDetail of sampleDetailList">-->
<!--              <td>{{ sampleDetail.seriesNumber }}</td>-->
<!--              <td>{{ sampleDetail.topicNumber }}</td>-->
<!--              <td>{{ sampleDetail.uniqueSampleNumber }}</td>-->
<!--              <td>{{ sampleDetail.insideSamplingLocation }}</td>-->
<!--              <td>{{ sampleDetail.contaminantId }}</td>-->
<!--              <td>{{ sampleDetail.workerExamined }}</td>-->
<!--              <td>{{ sampleDetail.temperature }}</td>-->
<!--              <td>{{ sampleDetail.humidity }}</td>-->
<!--              <td>{{ sampleDetail.pressure }}</td>-->
<!--              <td>{{ sampleDetail.sampleVolumeFlowRate }}</td>-->
<!--              <td>{{ sampleDetail.adjustmentMethodId }}</td>-->
<!--              <td>{{ sampleDetail.startTime }}</td>-->
<!--              <td>{{ sampleDetail.endTime }}</td>-->
<!--              <td>{{ sampleDetail.samplingTypeId }}</td>-->
<!--              <td>-->
<!--                <button (click)="onDelete(sampleDetail.detailId)" class="btn btn-danger btn-sm">-->
<!--                  <i class="bi bi-trash"></i> Delete-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--      <ng-template #noData>-->
<!--        <p class="text-muted">No sample details available.</p>-->
<!--      </ng-template>-->
<!--    </div>-->

<!--    &lt;!&ndash; New Sample Detail Form Column &ndash;&gt;-->

<!--  </div>-->
<!--</div>-->


<!--<div class="container mt-4">-->
<!--  <div class="row">-->
<!--    &lt;!&ndash; Sample Detail List Column &ndash;&gt;-->
<!--    <div class="col-md-8">-->
<!--      <h2 class="text-primary">Sample Detail List</h2>-->
<!--      <div *ngIf="sampleDetailList.length > 0; else noData">-->
<!--        <div class="table-responsive">-->
<!--          <table class="table table-hover table-striped table-bordered shadow-sm rounded">-->
<!--            <thead class="thead-dark">-->
<!--            <tr>-->
<!--              <th scope="col">Series Number</th>-->
<!--              <th scope="col">Topic Number</th>-->
<!--              <th scope="col">Unique Sample Number</th>-->
<!--              <th scope="col">Inside Sampling Location</th>-->
<!--              <th scope="col">Contaminant ID</th>-->
<!--              <th scope="col">Worker Examined</th>-->
<!--              <th scope="col">Temperature</th>-->
<!--              <th scope="col">Humidity</th>-->
<!--              <th scope="col">Pressure</th>-->
<!--              <th scope="col">Sample Volume Flow Rate</th>-->
<!--              <th scope="col">Adjustment Method ID</th>-->
<!--              <th scope="col">Start Time</th>-->
<!--              <th scope="col">End Time</th>-->
<!--              <th scope="col">Sampling Type ID</th>-->
<!--              <th scope="col">Actions</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let sampleDetail of sampleDetailList">-->
<!--              <td>{{ sampleDetail.seriesNumber }}</td>-->
<!--              <td>{{ sampleDetail.topicNumber }}</td>-->
<!--              <td>{{ sampleDetail.uniqueSampleNumber }}</td>-->
<!--              <td>{{ sampleDetail.insideSamplingLocation }}</td>-->
<!--              <td>{{ sampleDetail.contaminantId }}</td>-->
<!--              <td>{{ sampleDetail.workerExamined }}</td>-->
<!--              <td>{{ sampleDetail.temperature }}</td>-->
<!--              <td>{{ sampleDetail.humidity }}</td>-->
<!--              <td>{{ sampleDetail.pressure }}</td>-->
<!--              <td>{{ sampleDetail.sampleVolumeFlowRate }}</td>-->
<!--              <td>{{ sampleDetail.adjustmentMethodId }}</td>-->
<!--              <td>{{ sampleDetail.startTime | date:'short' }}</td>-->
<!--              <td>{{ sampleDetail.endTime | date:'short' }}</td>-->
<!--              <td>{{ sampleDetail.samplingTypeId }}</td>-->
<!--              <td>-->
<!--                <button (click)="onDelete(sampleDetail.detailId)" class="btn btn-danger btn-sm">-->
<!--                  <i class="bi bi-trash"></i> Delete-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--      <ng-template #noData>-->
<!--        <p class="text-muted">No sample details available.</p>-->
<!--      </ng-template>-->
<!--    </div>-->

<!--    &lt;!&ndash; New Sample Detail Form Column &ndash;&gt;-->
<!--    <div class="col-md-4">-->
<!--      <h2 class="text-primary">Add New Sample Detail</h2>-->
<!--      <form [formGroup]="sampleDetailForm" (ngSubmit)="onSubmit()">-->
<!--        <div class="form-group">-->
<!--          <label for="seriesNumber">Series Number</label>-->
<!--          <input id="seriesNumber" formControlName="seriesNumber" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="topicNumber">Topic Number</label>-->
<!--          <input id="topicNumber" formControlName="topicNumber" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="uniqueSampleNumber">Unique Sample Number</label>-->
<!--          <input id="uniqueSampleNumber" formControlName="uniqueSampleNumber" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="insideSamplingLocation">Inside Sampling Location</label>-->
<!--          <input id="insideSamplingLocation" formControlName="insideSamplingLocation" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="contaminantId">Contaminant ID</label>-->
<!--          <input id="contaminantId" formControlName="contaminantId" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="workerExamined">Worker Examined</label>-->
<!--          <input id="workerExamined" formControlName="workerExamined" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="temperature">Temperature</label>-->
<!--          <input id="temperature" formControlName="temperature" type="number" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="humidity">Humidity</label>-->
<!--          <input id="humidity" formControlName="humidity" type="number" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="pressure">Pressure</label>-->
<!--          <input id="pressure" formControlName="pressure" type="number" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="sampleVolumeFlowRate">Sample Volume Flow Rate</label>-->
<!--          <input id="sampleVolumeFlowRate" formControlName="sampleVolumeFlowRate" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="adjustmentMethodId">Adjustment Method ID</label>-->
<!--          <input id="adjustmentMethodId" formControlName="adjustmentMethodId" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="startTime">Start Time</label>-->
<!--          <input id="startTime" formControlName="startTime" type="datetime-local" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="endTime">End Time</label>-->
<!--          <input id="endTime" formControlName="endTime" type="datetime-local" class="form-control" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="samplingTypeId">Sampling Type ID</label>-->
<!--          <input id="samplingTypeId" formControlName="samplingTypeId" class="form-control" />-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Save</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container mt-4">-->
<!--  <div class="row">-->
<!--    &lt;!&ndash; Sample Detail List Column &ndash;&gt;-->
<!--    <div class="col-md-8">-->
<!--      <h2 class="text-primary">Sample Detail List</h2>-->
<!--      <div *ngIf="sampleDetailList.length > 0; else noData">-->
<!--        <div class="table-responsive">-->
<!--          <table class="table table-hover table-striped table-bordered shadow-sm rounded">-->
<!--            <thead class="thead-dark">-->
<!--            <tr>-->
<!--              <th scope="col">Series Number</th>-->
<!--              <th scope="col">Topic Number</th>-->
<!--              <th scope="col">Unique Sample Number</th>-->
<!--              <th scope="col">Inside Sampling Location</th>-->
<!--              <th scope="col">Contaminant ID</th>-->
<!--              <th scope="col">Worker Examined</th>-->
<!--              <th scope="col">Temperature</th>-->
<!--              <th scope="col">Humidity</th>-->
<!--              <th scope="col">Pressure</th>-->
<!--              <th scope="col">Sample Volume Flow Rate</th>-->
<!--              <th scope="col">Adjustment Method ID</th>-->
<!--              <th scope="col">Start Time</th>-->
<!--              <th scope="col">End Time</th>-->
<!--              <th scope="col">Sampling Type ID</th>-->
<!--              <th scope="col">Actions</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let sampleDetail of sampleDetailList">-->
<!--              <td>{{ sampleDetail.seriesNumber }}</td>-->
<!--              <td>{{ sampleDetail.topicNumber }}</td>-->
<!--              <td>{{ sampleDetail.uniqueSampleNumber }}</td>-->
<!--              <td>{{ sampleDetail.insideSamplingLocation }}</td>-->
<!--              <td>{{ sampleDetail.contaminantId }}</td>-->
<!--              <td>{{ sampleDetail.workerExamined }}</td>-->
<!--              <td>{{ sampleDetail.temperature }}</td>-->
<!--              <td>{{ sampleDetail.humidity }}</td>-->
<!--              <td>{{ sampleDetail.pressure }}</td>-->
<!--              <td>{{ sampleDetail.sampleVolumeFlowRate }}</td>-->
<!--              <td>{{ sampleDetail.adjustmentMethodId }}</td>-->
<!--              <td>{{ sampleDetail.startTime | date:'short' }}</td>-->
<!--              <td>{{ sampleDetail.endTime | date:'short' }}</td>-->
<!--              <td>{{ sampleDetail.samplingTypeId }}</td>-->
<!--              <td>-->
<!--                <button (click)="onDelete(sampleDetail.detailId)" class="btn btn-danger btn-sm">-->
<!--                  <i class="bi bi-trash"></i> Delete-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--      <ng-template #noData>-->
<!--        <p class="text-muted">No sample details available.</p>-->
<!--      </ng-template>-->
<!--    </div>-->

<!--    &lt;!&ndash; New Sample Detail Form Column &ndash;&gt;-->
<!--    <div class="col-md-4">-->
<!--      <h2 class="text-primary">Add New Sample Detail</h2>-->
<!--      <form [formGroup]="sampleDetailForm" (ngSubmit)="onSubmit()">-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Series Number</mat-label>-->
<!--            <input matInput formControlName="seriesNumber" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Topic Number</mat-label>-->
<!--            <input matInput formControlName="topicNumber" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Unique Sample Number</mat-label>-->
<!--            <input matInput formControlName="uniqueSampleNumber" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Inside Sampling Location</mat-label>-->
<!--            <input matInput formControlName="insideSamplingLocation" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Contaminant ID</mat-label>-->
<!--            <input matInput formControlName="contaminantId" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Worker Examined</mat-label>-->
<!--            <input matInput formControlName="workerExamined" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Temperature</mat-label>-->
<!--            <input matInput formControlName="temperature" type="number" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Humidity</mat-label>-->
<!--            <input matInput formControlName="humidity" type="number" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Pressure</mat-label>-->
<!--            <input matInput formControlName="pressure" type="number" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Sample Volume Flow Rate</mat-label>-->
<!--            <input matInput formControlName="sampleVolumeFlowRate" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Adjustment Method ID</mat-label>-->
<!--            <input matInput formControlName="adjustmentMethodId" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Start Time</mat-label>-->
<!--            <input matInput [matDatepicker]="startPicker" formControlName="startTime">-->
<!--            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #startPicker></mat-datepicker>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>End Time</mat-label>-->
<!--            <input matInput [matDatepicker]="endPicker" formControlName="endTime">-->
<!--            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>-->
<!--            <mat-datepicker #endPicker></mat-datepicker>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Sampling Type ID</mat-label>-->
<!--            <input matInput formControlName="samplingTypeId" class="form-control" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Save</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container mt-4">-->
<!--  <div class="row">-->
<!--    &lt;!&ndash; Sample Detail List Column &ndash;&gt;-->
<!--    <div class="col-md-8">-->
<!--      <h2 class="text-primary">Sample Detail List</h2>-->
<!--      <div *ngIf="sampleDetailList.length > 0; else noData">-->
<!--        <div class="table-responsive">-->
<!--          <table class="table table-hover table-striped table-bordered shadow-sm rounded">-->
<!--            <thead class="thead-dark">-->
<!--            <tr>-->
<!--              <th scope="col">Series Number</th>-->
<!--              <th scope="col">Topic Number</th>-->
<!--              <th scope="col">Unique Sample Number</th>-->
<!--              <th scope="col">Inside Sampling Location</th>-->
<!--              <th scope="col">Contaminant ID</th>-->
<!--              <th scope="col">Worker Examined</th>-->
<!--              <th scope="col">Temperature</th>-->
<!--              <th scope="col">Humidity</th>-->
<!--              <th scope="col">Pressure</th>-->
<!--              <th scope="col">Sample Volume Flow Rate</th>-->
<!--              <th scope="col">Adjustment Method ID</th>-->
<!--              <th scope="col">Start Time</th>-->
<!--              <th scope="col">End Time</th>-->
<!--              <th scope="col">Sampling Type ID</th>-->
<!--              <th scope="col">Actions</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let sampleDetail of sampleDetailList">-->
<!--              <td>{{ sampleDetail.seriesNumber }}</td>-->
<!--              <td>{{ sampleDetail.topicNumber }}</td>-->
<!--              <td>{{ sampleDetail.uniqueSampleNumber }}</td>-->
<!--              <td>{{ sampleDetail.insideSamplingLocation }}</td>-->
<!--              <td>{{ sampleDetail.contaminantId }}</td>-->
<!--              <td>{{ sampleDetail.workerExamined }}</td>-->
<!--              <td>{{ sampleDetail.temperature }}</td>-->
<!--              <td>{{ sampleDetail.humidity }}</td>-->
<!--              <td>{{ sampleDetail.pressure }}</td>-->
<!--              <td>{{ sampleDetail.sampleVolumeFlowRate }}</td>-->
<!--              <td>{{ sampleDetail.adjustmentMethodId }}</td>-->
<!--              <td>{{ sampleDetail.startTime  }}</td>-->
<!--              <td>{{ sampleDetail.endTime  }}</td>-->
<!--              <td>{{ sampleDetail.samplingTypeId }}</td>-->
<!--              <td>-->
<!--                <button (click)="onDelete(sampleDetail.detailId)" class="btn btn-danger btn-sm">-->
<!--                  <i class="bi bi-trash"></i> Delete-->
<!--                </button>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--      <ng-template #noData>-->
<!--        <p class="text-muted">No sample details available.</p>-->
<!--      </ng-template>-->
<!--    </div>-->

<!--    &lt;!&ndash; New Sample Detail Form Column &ndash;&gt;-->
<!--    <div class="col-md-4">-->
<!--      <h2 class="text-primary">Add New Sample Detail</h2>-->
<!--      <form [formGroup]="sampleDetailForm" (ngSubmit)="onSubmit()">-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Series Number</mat-label>-->
<!--            <input matInput formControlName="seriesNumber"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Topic Number</mat-label>-->
<!--            <input matInput formControlName="topicNumber"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Unique Sample Number</mat-label>-->
<!--            <input matInput formControlName="uniqueSampleNumber"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Inside Sampling Location</mat-label>-->
<!--            <input matInput formControlName="insideSamplingLocation"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Contaminant ID</mat-label>-->
<!--            <input matInput formControlName="contaminantId"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Worker Examined</mat-label>-->
<!--            <input matInput formControlName="workerExamined"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Temperature</mat-label>-->
<!--            <input matInput formControlName="temperature" type="number"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Humidity</mat-label>-->
<!--            <input matInput formControlName="humidity" type="number"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Pressure</mat-label>-->
<!--            <input matInput formControlName="pressure" type="number"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Sample Volume Flow Rate</mat-label>-->
<!--            <input matInput formControlName="sampleVolumeFlowRate"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Adjustment Method ID</mat-label>-->
<!--            <input matInput formControlName="adjustmentMethodId"/>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Start Time</mat-label>-->
<!--            <input matInput [ngxMatDatetimePicker]="startDatePicker" formControlName="startTime"-->
<!--                   placeholder="Choose a date and time">-->
<!--            <ngx-mat-datepicker-toggle matSuffix [for]="startDatePicker"></ngx-mat-datepicker-toggle>-->
<!--            <ngx-mat-datetime-picker #startDatePicker></ngx-mat-datetime-picker>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>End Time</mat-label>-->
<!--            <input matInput [ngxMatDatetimePicker]="endDatePicker" formControlName="endTime" placeholder="Choose a date and time">-->
<!--            <ngx-mat-datepicker-toggle matSuffix [for]="endDatePicker"></ngx-mat-datepicker-toggle>-->
<!--            <ngx-mat-datetime-picker #endDatePicker></ngx-mat-datetime-picker>-->
<!--          </mat-form-field>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--          <mat-form-field appearance="fill">-->
<!--            <mat-label>Sampling Type ID</mat-label>-->
<!--            <input matInput formControlName="samplingTypeId" />-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Save</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container mt-4">
  <div class="row">
    <!-- Sample Detail List Column -->
    <div class="col-md-8">
      <h2 class="text-primary">Sample Detail List</h2>
      <div *ngIf="sampleDetailList.length > 0; else noData">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered shadow-sm rounded">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Series Number</th>
              <th scope="col">Topic Number</th>
              <th scope="col">Unique Sample Number</th>
              <th scope="col">Inside Sampling Location</th>
              <th scope="col">Contaminants</th>
              <th scope="col">Worker Examined</th>
              <th scope="col">Temperature</th>
              <th scope="col">Humidity</th>
              <th scope="col">Pressure</th>
              <th scope="col">Sample Volume Flow Rate</th>
              <th scope="col">Adjustment Method</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Sampling Type</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sampleDetail of sampleDetailList">
              <td>{{ sampleDetail.seriesNumber }}</td>
              <td>{{ sampleDetail.topicNumber }}</td>
              <td>{{ sampleDetail.uniqueSampleNumber }}</td>
              <td>{{ sampleDetail.insideSamplingLocation }}</td>
              <td>
                <ul>
                  <li *ngFor="let contaminant of sampleDetail.contaminants">
                    {{ contaminant.name }}
                  </li>
                </ul>
              </td>
              <td>{{ sampleDetail.workerExamined }}</td>
              <td>{{ sampleDetail.temperature }} °C</td>
              <td>{{ sampleDetail.humidity }} %</td>
              <td>{{ sampleDetail.pressure }} hPa</td>
              <td>{{ sampleDetail.sampleVolumeFlowRate }}</td>
              <td>{{ sampleDetail.adjustmentMethod.code }} - {{ sampleDetail.adjustmentMethod.description }}</td>
              <td>{{ sampleDetail.startTime | date:'short' }}</td>
              <td>{{ sampleDetail.endTime | date:'short' }}</td>
              <td>{{ sampleDetail.samplingType.code }} - {{ sampleDetail.samplingType.description }}</td>
              <td>
                <button (click)="onDelete(sampleDetail.detailId)" class="btn btn-danger btn-sm">
                  <i class="bi bi-trash"></i> Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #noData>
        <p class="text-muted">No sample details available.</p>
      </ng-template>
    </div>


    <!-- New Sample Detail Form Column -->
    <div class="col-md-4">
      <h2 class="text-primary">Add New Sample Detail</h2>
      <form [formGroup]="sampleDetailForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Series Number</mat-label>
            <input matInput formControlName="seriesNumber" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Topic Number</mat-label>
            <input matInput formControlName="topicNumber" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Unique Sample Number</mat-label>
            <input matInput formControlName="uniqueSampleNumber" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Inside Sampling Location</mat-label>
            <input matInput formControlName="insideSamplingLocation" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-label>Contaminant IDs</mat-label>
          <div formArrayName="contaminantIds">
            <div *ngFor="let contaminant of contaminantIds.controls; let i=index">
              <mat-form-field appearance="fill">
                <input matInput [formControlName]="i" placeholder="Contaminant ID" />
              </mat-form-field>
              <button type="button" mat-icon-button (click)="removeContaminant(i)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
            <button type="button" mat-button (click)="addContaminant()">Add Contaminant</button>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Worker Examined</mat-label>
            <input matInput formControlName="workerExamined" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Temperature</mat-label>
            <input matInput formControlName="temperature" type="number" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Humidity</mat-label>
            <input matInput formControlName="humidity" type="number" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Pressure</mat-label>
            <input matInput formControlName="pressure" type="number" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Sample Volume Flow Rate</mat-label>
            <input matInput formControlName="sampleVolumeFlowRate" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Adjustment Method ID</mat-label>
            <input matInput formControlName="adjustmentMethodId" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Start Time</mat-label>
            <input matInput [ngxMatDatetimePicker]="startDatePicker" formControlName="startTime" placeholder="Choose a date and time">
            <ngx-mat-datepicker-toggle matSuffix [for]="startDatePicker"></ngx-mat-datepicker-toggle>
            <ngx-mat-datetime-picker #startDatePicker></ngx-mat-datetime-picker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>End Time</mat-label>
            <input matInput [ngxMatDatetimePicker]="endDatePicker" formControlName="endTime" placeholder="Choose a date and time">
            <ngx-mat-datepicker-toggle matSuffix [for]="endDatePicker"></ngx-mat-datepicker-toggle>
            <ngx-mat-datetime-picker #endDatePicker></ngx-mat-datetime-picker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Sampling Type ID</mat-label>
            <input matInput formControlName="samplingTypeId" />
          </mat-form-field>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
